$headline-ff:"Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
$mainline-ff:Arial, Verdana, Helvertica, sans-serif;

$fontSize:.2rem;
$bodycolor:#333;
$bodyback:#f5f5f5;
$headback:#333;

$ele-size12:.23rem;
$ele-size13:.24rem;
$ele-size14:.26rem;
$ele-size15:.28rem;
$ele-size16:.3rem;
$ele-size17:.33rem;
$ele-back:#fff;
$ele-color:#DD2727;
$ele-bckcolor:#DD2727;
$ele-margin:.2rem;
$ele-padding:.2rem;

